chainId: sifchain-1
rpcProtocol: https
rpcHostname: rpc.sifchain.finance
rpcPort: 443
apiProtocol: https
apiHostname: api.sifchain.finance
apiPort: 443

# chainId: localnet
# rpcProtocol: http
# rpcHostname: localhost
# rpcPort: 26657
# apiProtocol: http
# apiHostname: localhost
# apiPort: 1317

dbHost: ${env:DB_HOST}
dbPort: ${env:DB_PORT}
dbUser: ${env:DB_USER}
dbName: ${env:DB_NAME}
dbQueryTimeout: ${env:DB_QUERY_TIMEOUT}

fee: 10000000000000
gas: 280000

adjust-liqp-tvl:
  maxRowanLiquidityThresholdPercentage: 2.0
  epochLength: 14400
  isActive: true
  schedule: rate(30 minutes)
adjust-lpd-price-loss:
  isActive: true # turn off LPD entirely if set to false
  dryRun: false # skip LPD params update
  symbol: cusdc
  blockWindow: 300
  mod: 100 # should match on-chain mod LPD param
  dailyRate: 0.0375
  epochLength: 14400
  maxRate: 0.30
  enableMaxRateMod: false # max rate is scaled down to mod cycle
  initialBlock: 9001650
  blockWindowOffset: 50
  schedule: rate(30 minutes)
margin-market-maker:
  collateralAmount: 10000000 # 10 USDC
  collateralAsset: cusdc
  borrowAsset: rowan
  leverage: 5.0
  position: long
  duration: 10 # 1 day
  maxPositions: 100
  minPoolHealth: 0.9
  schedule: rate(10 minutes)
margin-auto-close-positions:
  profitPercentageThreshold: 200
  schedule: rate(30 minutes)
adjust-swap-fee-rate:
  intraEpochLength: 20
  sfIncrement: 0.01
  poolSymbol: cusdc
  fee: 100000000000000000
  schedule: rate(2 minutes)
reset-swap-fee-rate:
  maxSwapFee: 1.0
  fee: 100000000000000000
  schedule: rate(4 hours)
tags:
  "sifchain::stage": ${opt:stage}
  "sifchain::owner": ${env:OWNER}
ssmAdminClpDexMnemonicPath: /offchain-agents/${opt:stage}/admin-clp-dex-mnemonic
ssmUserMarginMnemonicPath: /offchain-agents/${opt:stage}/user-margin-mnemonic
ssmAdminMarginMnemonicPath: /offchain-agents/${opt:stage}/admin-margin-mnemonic
ssmDbPasswordPath: /offchain-agents/${opt:stage}/db-password
prod:
  deploymentBucketName: ${env:DEPLOYMENT_BUCKET_NAME}
slackOffchainAgentsWebhook: ${env:SLACK_OFFCHAIN_AGENTS_WEBHOOK}
esbuild:
  external:
    - pg-native
